# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/.gradle
android/app/debug
android/app/profile
android/app/release
*.iml
*.hprof
.cxx/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log
.DS_Store
